spring.application.name=WakeAPI
server.port=

spring.http.encoding.charset=UTF-8
spring.http.encoding.enabled=true
spring.http.encoding.force=true
server.servlet.encoding.charset=UTF-8
server.servlet.encoding.force=true

spring.security.user.name=
spring.security.user.password=
spring.security.user.roles=

springdoc.api-docs.enabled=true
server.forward-headers-strategy=framework

ovh.applicationKey=
ovh.applicationSecret=
ovh.consumerKey=
ovh.apiEndpoint=
ovh.serviceId=
ovh.instanceId=

minecraft.host=
minecraft.port=

ssh.username=
ssh.privateKeyPath=